<footer id="footer" class="footer">
    <div class="footer-1">
        <div class="container">
            <div class="row row-1">
                <div class="col-md-4">
                    <!-- map -->
                    <div class="map">
                        <div class="map-hack"></div>
                        <div class="map-content"></div>
                    </div>
                </div>
                <!-- /column 1 -->

                <div class="col-md-5 column-2">
                    <h3>
                        <a href="#">
                            <img src="~/Content/images/logo.png" class="img-responsive" />
                        </a>
                    </h3>
                    <div class="contact-phone">
                        <div>Bạn có câu hỏi ? Liên hệ ngay !</div>
                        <h4 class="tc-red">1900545494</h4>
                    </div>

                    <div class="footer-store">
                        <h4>Cửa hàng</h4>
                        <ul>
                            <li>
                                Hà Nội: <a href="#">272 Xã Đàn, Đống Đa</a> <b>Hotline: 0904 671 168</b>
                            </li>
                            <li>                                
                                Hồ Chí Minh: <a href="#">382 Đường 3/2, Quận 10</a> <b>Hotline: 0967 748 792</b>
                            </li>
                        </ul>
                    </div>
                    <!-- /footer-store -->

                    <div class="footer-social">
                        <ul>
                            <li>
                                <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                                <span>youtube</span>
                            </li>
                            <li>
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                <span>facebook</span>
                            </li>
                            <li>
                                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                <span>instagram</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                <span>email</span>
                            </li>
                        </ul>                        
                    </div>
                    <!-- footer-social -->

                </div>
                <!-- /column 2 -->

                <div class="col-md-3">
                    <ul class="footer-guide">
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">Hướng dẫn thanh toán</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">Hướng dẫn nhận hàng</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">Hướng dẫn đổi trả</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">Hướng dẫn bảo hành</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">Chính sách bảo mật</a>
                        </li>
                    </ul>
                    <a href="#" class="bct">
                        <img src="~/Content/images/thong_bao_bct.png" class="img-responsive" />
                    </a>
                </div>
                <!-- /column 3-->
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <ul class="m0 p0 list-inline list-unstyled">
                <li>
                    <strong>Thương hiệu bán chạy nhất</strong>
                </li>
                @for (int i = 0; i < 7; i++) // just for test
                {
                    <li>
                        <a href="#" title="Lorem ipsum">Lorem ipsum</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="footer-3">
        <div class="container text-center pv+">
            Công ty Cổ Phần Đầu tư và thương mại số VietEcom, Phòng 608A, Tầng 6, Tòa nhà Indochina Plaza, số 241 Xuân Thủy, Phường Dịch Vọng Hậu, quận Cầu Giấy, Hà Nội. Đăng ký Kinh doanh số 0107505589 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 13/07/2016.
        </div>
    </div>
</footer>
