<header id="header" class="header">
    <div class="container">
        <h2 class="header__left">
            <a href="#" class="logo">
                <img src="~/Content/images/logo.png" />
            </a>
        </h2>
        <div class="header__right">
            <div class="header__top">
                <h3>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>1900545494</span>
                </h3>
                <ul>
                    <li>
                        <a href="#">Tài khoản</a>
                    </li>
                    <li>
                        <a href="#">Giỏ hàng của tôi <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <nav class="navigation">
                <ul class="menu">
                    <li>
                        <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#">Điện thoại</a></li>
                    <li><a href="#">Tablet</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
                <div class="header__search">
                    <input type="search" value="" placeholder="Bạn tìm mua gì?" />
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
            </nav>
        </div>
    </div>
</header>