<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width" />  
    <title>Di Dong Express</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/spacing.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")

    <a href="#" class="button-scroll-top" id="button-scroll-top">
        <i class="fa fa-2x fa-chevron-up"></i>
    </a>

    
    <script src="~/Scripts/jquery-2.2.4.js"></script><!-- use $ 2x, or you can choose another slider -->
    <script src="~/Scripts/velocity.min.js"></script><!-- after jquery, becuz valocity can use jquery as dependency -->    
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.bxslider.min.js"></script><!-- vl, bxslider does not work with jquery 3x-->
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/common.js"></script>
</body>
</html>
