<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width" />  
    <title>Di Dong Express</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/spacing.min.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")    

    <script src="~/Scripts/bootstrap.js"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
</body>
</html>
