
<div class="pdi-main">
    <img src="~/Uploads/4_dien_thoai_oppo_f1s_32gb_dual_gold_b_master.png" class="img-responsive" />
</div>
<div class="pdi-zoom clearfix">
    <div class="pull-left">
        <a href="#"><i class="fa fa-3x fa-zoom"></i></a>
        <a href="#" class="pdi-color pdi-color--yellow"></a>
    </div>
    <div class="pull-right"></div>
    <!-- like button -->
</div>
<div class="pdi-thumb">
    <ul class="list-inline list-unstyled m0 p0">
        <li><img src="~/Uploads/4_dien_thoai_oppo_f1s_32gb_dual_gold_a_small.png" /></li>
        <li><img src="~/Uploads/4_dien_thoai_oppo_f1s_32gb_dual_gold_b_small.png" /></li>
        <li><img src="~/Uploads/4_oppo_20f1s_gold_small.png" /></li>
    </ul>
</div>
