
<div class="pd-price">
    <h3 class="text-uppercase">giá <strong class="tc-money ml">5.390.000d</strong></h3>
    <div class="pd-save mv">
        <div class="pd-save-money mr">
            <span class="d-button d-button--sm">-10%</span>
        </div>
        <div class="pd-market">
            <div>Giá thị trường: 5.990.000d</div>
            <div>Tiết kiệm: <span class="tc-money">600.000d</span></div>
        </div>
    </div>
    <ul class="list-unstyled">
        <li>
            <i class="fa fa-usd"></i>
            <span>Giá đã bao gồm VAT</span>
        </li>
        <li>
            <i class="fa fa-star"></i>
            <span>Hàng chính hãng</span>
        </li>
        <li>
            <i class="fa fa-dropbox"></i>
            <span>Hộp sạc, tai nghe, sách hướng dẫn, cáp</span>
        </li>
        <li>
            <i class="fa fa-id-card"></i>
            <span>Chính sách bảo hành chính hãng</span>
        </li>
    </ul>
    <div class="pd-buy mt+">
        <a href="#" class="pd-buy__button mr">
            <i class="fa fa-2x fa-shopping-cart"></i>
        </a>
        <button class="d-button pd-buy__button" type="button">mua ngay</button>
    </div>
</div>