<section class="product-detail">
    <div class="section-title">
        <h2 class="container text-uppercase">
            <a href="#">OPPO F1S 32GB GOLD</a>
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pd-images">
                    @Html.Partial("_DetailImages")
                </div>

                <div class="pd-detail">
                    <!-- need to create a custom tab -->
                    <ul class="pd-tab">
                        <li><a href="#">Thông số chi tiết</a></li>
                        <li><a href="#">Điểm nổi bật</a></li>
                        <li><a href="#">Đánh giá của khách hàng</a></li>
                    </ul>
                    <div class="pd-tab-content">
                        <div id="pd-tab-detail" class="pd-tab-item">
                            <table>
                                <colgroup>
                                    <col />
                                    <col />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>Dày</td>
                                        <td>7.38 mm</td>
                                    </tr>
                                    <tr>
                                        <td>Hệ điều hành</td>
                                        <td>Android 5.1 (Lollipop)</td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ trong</td>
                                        <td>32 GB</td>
                                    </tr>
                                    <tr>
                                        <td>RAM</td>
                                        <td>3 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Màn hình</td>
                                        <td>IPS LCD, 5.5", HD</td>
                                    </tr>
                                    <tr>
                                        <td>Cam sau</td>
                                        <td>13 MP</td>
                                    </tr>
                                    <tr>
                                        <td>Cam trước</td>
                                        <td>16 MP</td>
                                    </tr>
                                    <tr>
                                        <td>Dung lượng Pin</td>
                                        <td>3075 mAh</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Màn hình</td>
                                    </tr>
                                    <tr>
                                        <td>Công nghệ màn hình</td>
                                        <td>IPS LCD</td>
                                    </tr>
                                    <tr>
                                        <td>Độ phân giải CT</td>
                                        <td>720 x 1280 pixels</td>
                                    </tr>
                                    <tr>
                                        <td>Màn hình rộng</td>
                                        <td>5.5"</td>
                                    </tr>
                                    <tr>
                                        <td>Cảm ứng</td>
                                        <td>Cảm ứng điện dung đa điểm</td>
                                    </tr>
                                    <tr>
                                        <td>Mặt kính cảm ứng</td>
                                        <td>Kính cường lực Gorilla Glass 4</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Camera sau</td>                                        
                                    </tr>
                                    <tr>
                                        <td>Độ phân giải sau</td>
                                        <td>13 MP</td>
                                    </tr>
                                    <tr>
                                        <td>Quay phim sau</td>
                                        <td>Có quay phim</td>
                                    </tr>
                                    <tr>
                                        <td>Đèn flash</td>
                                        <td>Có quay phim</td>
                                    </tr>
                                    <tr>
                                        <td>Chụp ảnh nâng cao</td>
                                        <td>Tự động lấy nét, Nhận diện khuôn mặt,Panorama</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Camera trước</td>                                        
                                    </tr>
                                    <tr>
                                        <td>Độ phân giải trước</td>
                                        <td>16 MP</td>
                                    </tr>
                                    <tr>
                                        <td>Quay phim trước</td>
                                        <td>Có</td>
                                    </tr>
                                    <tr>
                                        <td>Videocall</td>
                                        <td>Hỗ trợ VideoCall thông qua ứng dụng OTT</td>
                                    </tr>
                                    <tr>
                                        <td>Thông tin khác</td>
                                        <td>Panorama, Selfie bằng cử chỉ, Chống rung,Nhận diện khuôn mặt, Chế độ làm đẹp, Flash màn hình</td>                                        
                                    </tr>
                                    <tr>
                                        <td colspan="2">Hệ điều hành</td>
                                    </tr>
                                    <tr>
                                        <td>Hệ điều hành CT</td>
                                        <td>Android 5.1 (Lollipop)</td>
                                    </tr>
                                    <tr>
                                        <td>Chipset</td>
                                        <td>Mediatek MT6750 8 nhân</td>
                                    </tr>
                                    <tr>
                                        <td>Tốc độ CPU</td>
                                        <td>1.5 GHz</td>
                                    </tr>
                                    <tr>
                                        <td>Chip đồ họa</td>
                                        <td>Mali-T860</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Bộ nhớ và Lưu trữ</td>
                                    </tr>
                                    <tr>
                                        <td>RAM CT</td>
                                        <td>3 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ trong CT</td>
                                        <td>32 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ còn lại</td>
                                        <td>Đang cập nhật</td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ nhớ ngoài</td>
                                        <td>MicroSD</td>
                                    </tr>
                                    <tr>
                                        <td>Hỗ trợ thẻ tối đa</td>
                                        <td>128 GB</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Kết nối</td>
                                    </tr>
                                    <tr>
                                        <td>Băng tần 2G</td>
                                        <td>GSM 850/900/1800/1900</td>
                                    </tr>
                                    <tr>
                                        <td>Băng tần 3G</td>
                                        <td>HSDPA 850/900/2100</td>
                                    </tr>
                                    <tr>
                                        <td>Hỗ trợ 4G</td>
                                        <td>Có hỗ trợ 4G</td>
                                    </tr>
                                    <tr>
                                        <td>Số khe sim</td>
                                        <td>2 SIM 2 sóng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại Sim</td>
                                        <td>Nano SIM</td>
                                    </tr>
                                    <tr>
                                        <td>Wifi</td>
                                        <td>Wi-Fi 802.11 b/g/n, Wi-Fi Direct, Wi-Fi hotspot</td>
                                    </tr>
                                    <tr>
                                        <td>GPS</td>
                                        <td>A-GPS</td>
                                    </tr>
                                    <tr>
                                        <td>Bluetooth</td>
                                        <td>Có</td>
                                    </tr>
                                    <tr>
                                        <td>NFC</td>
                                        <td>Không</td>
                                    </tr>
                                    <tr>
                                        <td>Cổng kết nối/sạc</td>
                                        <td>Micro USB</td>
                                    </tr>
                                    <tr>
                                        <td>Jack tai nghe</td>
                                        <td>3.5 mm</td>
                                    </tr>
                                    <tr>
                                        <td>Kết nối khác</td>
                                        <td>OTG</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Thiết kế và Trọng lượng</td>
                                    </tr>
                                    <tr>
                                        <td>Thiết kế</td>
                                        <td>Nguyên khối</td>
                                    </tr>
                                    <tr>
                                        <td>Chất liệu</td>
                                        <td>Hợp kim nhôm</td>
                                    </tr>
                                    <tr>
                                        <td>Kích thước</td>
                                        <td>Dài 154.5 mm- Ngang 76 mm-Dày 7.38 mm</td>
                                    </tr>
                                    <tr>
                                        <td>Trọng lượng</td>
                                        <td>160 g</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Thông tin pin</td>
                                    </tr>
                                    <tr>
                                        <td>Dung lượng pin CT</td>
                                        <td>3075 mAh</td>
                                    </tr>
                                    <tr>
                                        <td>Loại pin</td>
                                        <td>Lithium - Ion</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">iải trí và Ứng dụng</td>
                                    </tr>
                                    <tr>
                                        <td>Xem phim</td>
                                        <td>H.265, 3GP, MP4, AVI, WMV, H.264(MPEG4-AVC), DivX, WMV9, Xvid</td>
                                    </tr>
                                    <tr>
                                        <td>Nghe nhạc</td>
                                        <td>lossless, midi, mp3, wav, wma, ac3, flac</td>
                                    </tr>
                                    <tr>
                                        <td>Ghi âm</td>
                                        <td>Có</td>
                                    </tr>
                                    <tr>
                                        <td>Radio</td>
                                        <td>Có</td>
                                    </tr>
                                    <tr>
                                        <td>Chức năng khác</td>
                                        <td>Chạm 2 lần sáng màn hình<br />Mở khóa nhanh bằng vân tay</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Bảo hành</td>
                                    </tr>
                                    <tr>
                                        <td>Bảo hành</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Quà tặng</td>
                                    </tr>
                                    <tr>
                                        <td>Quà tặng 1</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Quà tặng 2</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Quà tặng 3</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="pd-tab-highlight" class="pd-tab-item">
                            <img src="~/Uploads/4_dien_thoai_oppo_f1s_32gb_dual_gold.jpg" class="img-responsive" />
                        </div>
                        <div id="pd-tab-comment" class="pd-tab-item">
                            <!-- embed fb comment -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- left column -->

            <div class="col-md-6">
                @Html.Partial("_DetailPrice")
            </div>
            <!-- right column -->
        </div>        
    </div>

    <div class="section-title">
        <h2 class="container text-uppercase text-center">
            <a href="#">Sản phẩm cùng mức giá</a>
        </h2>
    </div>
    <div class="container">
        <!-- slider -->
    </div>
</section>
