<section class="cart-section">
    <div class="section-title">
        <h2 class="container text-uppercase">
            GIỎ HÀNG CỦA TÔI
        </h2>
    </div>

    <div class="container cart-container">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-cart">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sản phẩm</th>
                            <th>Thông tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 3; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                    <div>
                                        <a href="#" class="cart-p-image">
                                            <img src="~/Uploads/sdp_20pisen_20easy_20power_205000mah_201_medium.png" class="img-responsive" />
                                        </a>
                                        <h3 class="m0 cart-p-name">
                                            <a href="#">SDP Pisen Easy power 5000mah</a>
                                        </h3>
                                    </div>
                                </td>
                                <td>
                                    <div class="cart-info cart__qty">
                                        <h4>Số lượng</h4>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="text" value="1" class="qty-input" />
                                            </div>
                                            <div class="form-group ml+">
                                                <a href="#" class="qty-change qty-inc">
                                                    <i class="fa fa-2x fa-angle-up"></i>
                                                </a>
                                                <a href="#" class="qty-change qty-des">
                                                    <i class="fa fa-2x fa-angle-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- qty -->

                                    <div class="cart-info cart__price mt+">
                                        <h4>Thành tiền</h4>
                                        <div class="tc-money">796.000 đ</div>
                                    </div>
                                    <!-- price -->

                                    <div class="text-right">
                                        <a href="#" class="cart-p-remove">
                                            <i class="fa fa-trash-o fa-2x"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="ph+++ ml+++">
                    <a href="#" class="checkout-button">THANH TOÁN</a>
                </div>
            </div>
            <div class="col-md-5">
                <section class="section-guide">
                    <div class="form-group">
                        <a href="#">
                            <img src="~/Content/images/banner_info_1.jpg" class="img-responsive" />
                        </a>
                    </div>

                    <div class="form-group">
                        <a href="#">
                            <img src="~/Content/images/banner_info_2.jpg" class="img-responsive" />
                        </a>
                    </div>

                    <div class="form-group">
                        <a href="#">
                            <img src="~/Content/images/banner_info_3.jpg" class="img-responsive" />
                        </a>
                    </div>

                    <div class="form-group">
                        <a href="#">
                            <img src="~/Content/images/banner_info_4.jpg" class="img-responsive" />
                        </a>
                    </div>                    
                </section>
            </div>
        </div>

        
    </div>

    
</section>
