<h4>TRUNG TÂM BẢO HÀNH SẢN PHẨM TRÊN TOÀN QUỐC</h4>
<div class="guarantee__info">
    <p><strong>Định vị là một doanh nghiệp vì khách hàng, đặt khách hàng làm trung tâm, DidongExpress triển khai chính sách đổi trả dành cho khách hàng như sau:</strong></p>
    <ul class="list-unstyled pl+">
        <li><b>Miễn phí 1 đổi 1 trong 7 ngày đầu tiên nếu sản phẩm lỗi nhà sản xuất.</b></li>
        <li><b>Bảo hành 1 đổi 1 trong 1 năm đối với phụ kiện</b></li>
    </ul>
    <p><strong>Tất cả các sản phẩm tuân theo điều khoản bảo hành của sản phẩm đó tại thời điểm xuất hóa đơn cho khách hàng.</strong></p>
    <p><strong>Tùy loại sản phẩm khác nhau sẽ có chính sách bảo hành khác nhau.</strong></p>
    <p><strong>Thông tin chi tiết về chính sách bảo hành cho sản phẩm cụ thể, xin liên hệ bộ phận Chăm sóc khách hàng của chúng tôi.</strong></p>
    <p><strong>Hotline : <strong class="guarantee--color">1900545494</strong></strong></p>
    <p><span><strong>TRUNG TÂM BẢO HÀNH HÃNG</strong></span></p>
    <p><span><strong>Khách hàng có thể bảo hành máy tại 2 cửa hàng DidongExpress trên toàn quốc cũng như trung tâm bảo hành chính hãng sản phẩm.</strong></span></p>  
</div>

<div class="container">

        <p><span><strong>CHỌN HÃNG CẦN TÌM</strong> ĐIỂM BẢO HÀNH</span></p>
        <ul class="m0 p0 list-inline list-unstyled">
            @for (int i = 0; i < 15; i++)
            {
                <li>
                    <a href="#">
                        <div class="guarantee__image">
                            <img src="~/Content/images/guides/guarantee/samsung.png" class="img-responsive" width="150" />
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>


<div class="pull-right">
    <a href="#">Xem thêm các hãng khác »</a>
</div>