
<section class="section-guide">

    <div class="container">
        <div class="row-guide no-gutter">
            <div class="col-md-6">
                <div class="guide guide--1">
                    <a href="#">
                        <img src="~/Content/images/banner_info_1.jpg" />
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="guide guide--1">
                    <a href="#">
                        <img src="~/Content/images/banner_info_2.jpg" />
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="guide guide--1">
                    <a href="#">
                        <img src="~/Content/images/banner_info_3.jpg" />
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="guide guide--1">
                    <a href="#">
                        <img src="~/Content/images/banner_info_4.jpg" />
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>
