<ul class="list-unstyled guides--left">
    <li><a href="#">Hướng dẫn mua hàng</a></li>
    <li><a href="#">Hướng dẫn thanh toán</a></li>
    <li><a href="#">Hướng dẫn nhận hàng</a></li>
    <li><a href="#">Hướng dẫn đổi trả</a></li>
    <li><a href="#">Hướng dẫn bảo hành</a></li>
</ul>
