<div class="guides--image">
    <img src="~/Content/images/guides/payment/banner_fb_like_stt_02.jpg" class="img-responsive" />
</div>
<p>Hiện tại DidongExpress có triển khai 3 hình thức thanh toán như sau:</p>
<div class="guides--common">
    <h4><span>﻿<strong>Hình thức 1: COD - THANH TOÁN SAU KHI NHẬN HÀNG</strong></span></h4>
    <p><span>- Áp dụng cho các khách hàng tại Hà Nội và TP.HCM</span></p>
    <p><span>- COD là hình thức thanh toán khi nhận hàng. Với phương thức thanh toán này, quý khách trả tiền mặt cho nhân viên giao hàng ngay khi nhận được đơn hàng của mình.</span></p>
    <div class="guides--image">
        <img src="~/Content/images/guides/payment/chuyen-phat-nhanh-cod-viettel-uy-tin-nhat1.jpg" class="img-responsive" />
    </div>
</div>
<div class="guides--common">
    <p><span>- Áp dụng tất cả các khách hàng trên toàn quốc</span></p>
    <p><span>- Các bước chuyển khoản qua ngân hàng:</span></p>
    <p><span><i>Bước 1: </i> Đặt hàng qua điện thoại hoặc trên website</span></p>
    <p><span><i>Bước 2: </i>Khách hàng chuyển khoản thanh toán đơn hàng theo mẫu: <b><i>Tên KH, Số tiền, số tài khoản, nội dụng chuyển tiền/chuyển khoản</i></b> (Thanh toán mã đơn hàng số ....) qua các ngân hàng sau:</span></p>
    <table border="1">
        <tbody>
            @for (int i = 0; i < 4; i++)
            {
                <tr>
                    <td>
                        <img src="~/Content/images/guides/payment/agribank_grande.png" width="205" height="36" class="img-responsive" />
                    </td>
                    <td>
                        <p><span>Công ty Cổ phần đầu tư và thương mại số VietEcom</span></p>
                        <p><span>Agribank - Chi nhánh Láng Hạ</span></p>
                        <p><span>STK: 1400206029830</span></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p><span>- Sau khi chuyển khoản Khách hàng có thể thông báo cho DidongExpress (bằng điện thoại, email, SMS, fax, ...) </span></p>
    <p><span>- Hoặc Quý khách vui lòng liên hệ với Bộ phận Bán hàng trực tuyến của Didongexpress theo số tổng đài <b>1900 545494 (từ 8h30 đến 17h30 hàng ngày)</b>, để thông báo đã chuyển tiền.</span></p>
    <p><span><i>Bước 3: </i>Sau khi nhận được báo có từ ngân hàng, DidongExpress sẽ xác nhận lại thông tin với Quý khách về thời gian, địa điểm giao hàng. </span></p>
</div>
<div class="guides--image">
    <h4><span>﻿<strong>Hình thức 3: THANH TOÁN ONLINE</strong></span></h4>
    <p><span>- Áp dụng tất cả các khách hàng trên toàn quốc</span></p>
    <p><span>- Các bước thanh toán online</span></p>
    <p><span>Bước 1: Đặt hàng trên website</span></p>
    <p><span>Bước 2: Sau khi đặt hàng, Khách điền đầy đủ thông tin trên giao diện mua hàng, lựa chọn "Thanh toán Online". Có 2 cách thanh toán trực tuyến như sau:</span></p>
    <p><strong>1) Thanh toán bằng thẻ ATM đăng ký Internet Banking</strong></p>
    <p><span>Khách hàng lựa chọn ngân hàng muốn thanh toán, sau đó điền thông tin vào mẫu sau để hoàn thiện thanh toán:</span></p>
    <div class="guides--image">
        <img src="~/Content/images/guides/payment/screenshot_6.png" class="img-responsive" />
    </div>
    <div class="guides--image">
        <img src="~/Content/images/guides/payment/screenshot_9.png" class="img-responsive" />
    </div>
    <p><span><strong>2) Thanh toán bằng thẻ Visa, Master Card</strong></span></p>
    <p><span>Bấm chọn mục "Thanh toán bằng thẻ Visa, Master Card", sau đó điền thông tin thẻ vào mẫu dưới đây. Bấm chọn "Đặt mua" là bạn đã hoàn thiện thanh toán!</span></p>
    <div class="guides--image">
        <img src="~/Content/images/guides/payment/screenshot_10.png" class="img-responsive" />
    </div>
</div>
<p><span>Chúc các bạn mua sắm vui vẻ!</span></p>
