<section class="product-index">
    <div class="section-title">
        <h2 class="container text-uppercase">Sản phẩm khuyến mãi</h2>
    </div>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < 8; i++)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="pi">
                        <div class="pi__image @(i % 2 == 0 ? "fpt-logo" : "")">
                            <a href="#">
                                <img src="~/Uploads/437_htc_desire_10pro_royal_blue_a_medium.png" class="img-responsive" />
                            </a>
                        </div>
                        <h4 class="pi__name">
                            <a href="#" class="text-uppercase">HTC DESIRE 10 PRO RAM 4GB ROM 64GB ROYAL BLUE</a>
                        </h4>
                        <div class="clearfix pi__price">
                            <div class="pull-left">
                                <div class="in-price">24.590.000d</div>
                                <div class="out-price">24.590.000d</div>
                                <div class="discount-price">24.590.000d</div>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="button-buy text-uppercase">mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-md-3 => 4 columns (3x4=12) in medium screen (max-width = 992px) -->
                <!-- col-sm-6 => 2 columns (2x6=12) in small screen (max-width=768px) -->
                <!-- col-md-3.col-sm-6 => in medium -> 4 columns, in small, 2 columns -->
            }
        </div>
    </div>
</section>

<section class="product-index">
    <div class="section-title">
        <h2 class="container text-uppercase">SẢN PHẨM BÁN CHẠY NHẤT</h2>
    </div>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < 8; i++)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="pi">
                        <div class="pi__image">
                            <a href="#">
                                <img src="~/Uploads/437_htc_desire_10pro_royal_blue_a_medium.png" class="img-responsive" />
                            </a>
                        </div>
                        <h4 class="pi__name">
                            <a href="#" class="text-uppercase">HTC DESIRE 10 PRO RAM 4GB ROM 64GB ROYAL BLUE</a>
                        </h4>
                        <div class="clearfix pi__price">
                            <div class="pull-left">
                                <div class="in-price">24.590.000d</div>
                                <div class="out-price">24.590.000d</div>
                                <div class="discount-price">24.590.000d</div>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="button-buy text-uppercase">mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-md-3 => 4 columns (3x4=12) in medium screen (max-width = 992px) -->
                <!-- col-sm-6 => 2 columns (2x6=12) in small screen (max-width=768px) -->
                <!-- col-md-3.col-sm-6 => in medium -> 4 columns, in small, 2 columns -->
            }
        </div>
    </div>
</section>

<section class="product-index">
    <div class="section-title">
        <h2 class="container text-uppercase">SẢN PHẨM MỚI</h2>
    </div>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < 8; i++)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="pi">
                        <div class="pi__image">
                            <a href="#">
                                <img src="~/Uploads/437_htc_desire_10pro_royal_blue_a_medium.png" class="img-responsive" />
                            </a>
                        </div>
                        <h4 class="pi__name">
                            <a href="#" class="text-uppercase">HTC DESIRE 10 PRO RAM 4GB ROM 64GB ROYAL BLUE</a>
                        </h4>
                        <div class="clearfix pi__price">
                            <div class="pull-left">
                                <div class="in-price">24.590.000d</div>
                                <div class="out-price">24.590.000d</div>
                                <div class="discount-price">24.590.000d</div>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="button-buy text-uppercase">mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-md-3 => 4 columns (3x4=12) in medium screen (max-width = 992px) -->
                <!-- col-sm-6 => 2 columns (2x6=12) in small screen (max-width=768px) -->
                <!-- col-md-3.col-sm-6 => in medium -> 4 columns, in small, 2 columns -->
            }
        </div>
    </div>
</section>