<div class="guides--image">
    <img src="~/Content/images/guides/recieve/banner_fb_like_stt_14.jpg" class="img-responsive" />
</div>
<div class="guides--common">
    <p><span><strong>Cách 1: Khách hàng trực tiếp tới 2 điểm giao dịch của DidongExpress tại Hà Nội và TP.Hồ Chí Minh để mua hàng.</strong></span></p>
    <ul class="list-unstyled">
        <li class="pl+"><strong>Hà Nội:</strong> 241 Xuân Thủy, Cầu Giấy, Hà Nội</li>
        <li class="pl+"><strong>TP Hồ Chí Minh:</strong> Số 382 Đường 3 Tháng 2, Phường 12, Quận 10</li>
    </ul>
</div>
<div class="guides--common">
    <p><span><strong>Cách 2: Khách hàng chọn hình thức giao hàng tận nơi khi mua hàng qua điện thoại hoặc website</strong></span></p>
    <ul class="list-unstyled">
        <li class="pl+">Cam kết 100% là hàng chính hãng, bảo hành trên toàn quốc.</li>
        <li class="pl+">Tiết kiệm thời gian, thỏa sức mua sắm.</li>
        <li class="pl+">Khuyến mãi mới cập nhật liên tục.</li>
    </ul>
</div>
<div class="guides--common">
    <p><span><strong>I, Phạm vi áp dụng</strong></span></p>
    <p><span>DidongExpress giao hàng toàn quốc</span></p>
    <ul class="list-unstyled">
        <li class="pl++"><span><strong>Miền Bắc bao gồm:</strong> Nội, Bắc Cạn, Bắc Giang, Bắc Ninh, Cao Bằng, Điện Biên, Hà Giang, Hà Nam, Hải Dương, Hải Phòng, Hòa Bình, Hưng Yên, Lai Châu, Lạng Sơn, Lào Cai, Nam Định, Nghệ An, Ninh Bình, Phú Thọ, Quảng Ninh, Sơn La, Thái Bình, Thái Nguyên, Thanh Hóa, Tuyên Quang, Vĩnh Phúc, Yên Bái.</span></li>
        <li class="pl++"><span><strong>Miền Trung bao gồm:</strong> Đà Nẵng, Bình Định, Gia Lai, Hà Tĩnh, Huế, Khánh Hòa, Kon Tum, Phú Yên, Quảng Bình, Quảng Nam, Quảng Ngãi, Quảng Trị.</span></li>
        <li class="pl++"><span><strong>Miền Nam bao gồm:</strong>Hồ Chí Minh, An Giang, Bạc Liêu, Bến Tre, Bình Dương, Bình Phước, Bình Thuận, Cà Mau, Cần Thơ, Đăk Lak, Đăk Nông, Đồng Nai, Đồng Tháp, Hậu Giang, Kiên Giang, Lâm Đồng, Long An, Ninh Thuận, Sóc Trăng, Tây Ninh, Tiền Giang, Trà Vinh, Vĩnh Long, Vũng Tàu. </span></li>
    </ul>
    <p><span><strong>II, Thời gian giao hàng</strong></span></p>
    <ul class="list-unstyled">
        <li>
            Giao hàng trong <strong>vòng 6h</strong> tại khu vực nội thành
            <p class="pl+"><span>+ Nội thành Hà Nội (Cầu Giấy, Hoàn Kiếm, Thanh Xuân, Ba Đình, Tây Hồ, Hai Bà Trưng, Đống Đa, Từ Liêm, Hà Đông, Long Biên , Hoàng Mai, Thanh Trì)</span></p>
            <p class="pl+"><span>+ Nội Thành Hồ Chí Minh (Q1,3,4,5,10,11,Phú nhuận, Quận: 6,7,8, Bình thạnh, Gò vấp,Tân bình,Bình tân,Tân Phú,Q2(P. Thảo Điền, An phú, An bình, Bình an, Bình Khánh), Q9(Trừ P.Long Bình,Long Phước)</span></p>
            <p class="pl+++"><span><i><u>Chú ý:</u></i> Đơn hàng được đặt sau 16h cùng ngày sẽ được giao vào sáng hôm sau</span></p>
        </li>
        <li>Giao hàng trong <strong>vòng 12h</strong> tại các khu vực ngoại thành HN, TP.HCM</li>
        <li>Giao hàng từ <strong>2-5 ngày</strong> đối với khách hàng ngoại tỉnh</li>
    </ul>
    <p><span><strong>III, Phí giao hàng</strong></span></p>
    <ul class="list-unstyled">
        <li class="pl+"><strong>Miễn phí giao hàng</strong> đối với đơn hàng Điện thoại, Máy tính bảng trong khu vực nội thành</li>
        <li class="pl+"><strong>Miễn phí giao hàng</strong> khi mua phụ kiện với đơn hàng trên <strong>250.000đ</strong> Đối với đơn hàng dưới 250.000đ, phí vận chuyển bằng phí giao hàng tiêu chuẩn</li>
        <li class="pl+"><strong>Khu vực khác:</strong> tính phí tùy theo khu vực. Phí vận chuyển của đơn hàng được tính bằng Phí giao hàng tiêu chuẩn  và Phí chuyển phát nhanh theo yêu cầu (nếu có).</li>
    </ul>
</div>
