<div class="guides--image">

    <img src="~/Content/images/guides/refund/banner_fb_like_stt_15.jpg" class="img-responsive" />
</div>
<div class="guides--recieve">
    <h4><span>﻿<strong>A. ĐỐI VỚI ĐIỆN THOẠI, MÁY TÍNH BẢNG</strong></span></h4>
    <p class="recieve-title"><span>I. Nội dung:</span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li><p><span>- Sản phẩm gặp lỗi do nhà sản xuất trong vòng 7 ngày từ thời điểm nhận hàng >> <strong>Khách hàng được quyền Đổi trả miễn phí</strong></span></p></li>
        <li><p><span>- Sản phẩm gặp lỗi do nhà sản xuất sau 7 ngày từ thời điểm nhận hàng >> <strong>Khách hàng đem sản phẩm tới trung tâm bảo hành của hãng</strong></span></p></li>
        <li><p><span>- Đổi theo yêu cầu của khách >> <strong>Khách hàng chịu phí 10% giá trị máy tại thời điểm đổi trả</strong></span></p></li>
        <li><p><span>- Lỗi do người sử dụng >> <strong>Không áp dụng đổi trả hay bảo hành</strong></span></p> </li>
    </ul>
    <p class="recieve-title"><span>II. Điều kiện áp dụng</span></p>
    <p><span><strong>1. Đối với hình thức đổi trả</strong></span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li><p><span><strong>- Sản phẩm do lỗi của Nhà sản xuất (NSX):</strong> được xác định là lỗi kỹ thuật, lỗi bể vỡ khi mở hộp, ko đúng thông số kỹ thuật…</span></p></li>
        <li><p><span>Khách hàng cần có Phiếu kiểm tra máy tại trung tâm bảo hành xác nhận lỗi kỹ thuật hay lỗi sử dụng để nhận được chính sách của DidongExpress</span></p></li>
        <li><p><span>- Sản phẩm đổi trả phải bao gồm phiếu giao/nhận hàng</span></p></li>
        <li><p><span>- Sản phẩm phải gửi kèm với đầy đủ phụ kiện (bao gồm cả hướng dẫn sử dụng, thẻ bảo hành, vỏ hộp sản phẩm...) và quà tặng kèm (nếu có).</span></p></li>
        <li><p><span>- Trong vòng 7 ngày từ thời điểm nhận hàng</span></p></li>
    </ul> 
    <p><span><strong>2. Đối với bảo hành</strong></span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li><p><span>Ngoài thời gian 7 ngày, nếu do lỗi của NSX, Khách mang máy đến các trung tâm bảo hành chính hãng để sửa chữa miễn phí.</span></p></li>
        <li><p><span><strong>3. Đối với hình thức đổi theo yêu cầu</strong></span></p></li>
        <li><p><span>- Khách mua trong vòng 7 ngày không muốn sử dụng Khách hàng sẽ chịu phí 10% giá trị máy tại thời điểm đổi trả</span></p></li>
        <li><p><span>- Sản phẩm được gửi kèm với đầy đủ phụ kiện (bao gồm cả hướng dẫn sử dụng, thẻ bảo hành, vỏ hộp sản phẩm...) và quà tặng kèm (nếu có).</span></p></li>
        <li><p><span>- Ngoài thời gian 7 ngày không áp dụng đổi trả</span></p></li>
    </ul>
    <p class="recieve-title"><span>III. Lưu ý</span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li><p><span><strong>- Lỗi của NSX:</strong> được xác định là lỗi kỹ thuật, lỗi bể vỡ khi mở hộp, không đúng thông số kỹ thuật…, được DidongExpress kiểm tra thông qua Phiếu kiểm tra máy. Khách hàng đem máy kiểm tra tại trung tâm bảo hành xác nhận lỗi kỹ thuật hay lỗi sử dụng.</span></p></li>
        <li>
            <p><span><strong>- Lỗi do người sử dụng:</strong></span></p>
            <ul class="list-unstyled recieve__guide pl++">
                <li>+ Không đủ điều kiện bảo hành theo qui định của hãng.</li>
                <li>+ Máy không giữ nguyên 100% hình dạng ban đầu.</li>
                <li>+ Màn hình bị trầy xước.</li>
            </ul>
        </li>
    </ul>
    <h4><span>﻿<strong>B. ĐỐI VỚI PHỤ KIỆN</strong></span></h4>
    <p class="recieve-title"><span><strong>I. Điều kiện được bảo hành</strong></span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li>- Sản phẩm được xác định <strong><i>hư hỏng do lỗi kỹ thuật</i></strong> từ nhà sản xuất.</li>
        <li>- Sản phẩm <strong><i>còn thời hạn bảo hành.</i></strong></li>
        <li>- Sản phẩm <strong><i>còn nguyên tem bảo hành</i></strong> và tem của nhà sản xuất. Đối với sản phẩm bảo hành theo phiếu thì phải có phiếu bảo hành và tem trên phiếu bảo hành còn nguyên vẹn.</li>
        <li>- Sản phẩm ổ cứng gắn ngoài 3.5 inches phải có adapter điện kèm theo mới được nhận bảo hành. Adapter cần bảo hành phải còn nguyên tem của nhà sản xuất.  </li>
    </ul>
    <p class="recieve-title"><span><strong>II. Điều kiện không được bảo hành</strong></span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li>- Thiết bị bị <strong><i>mất nhãn hiệu, tem bảo hành</i></strong> của nhà phân phối và tem của nhà sản xuất bị mất hoặc rách, có dấu hiệu bị cạo, xóa, tẩy sửa, mất số serial, thiết bị bị cháy nổ, gãy, gãy hoặc cong cổng USB, vỡ, mẻ chip, bị gỉ, ăn mòn, oxi hóa, biến dạng, có dấu hiệu tháo mở.</li>
        <li>- <strong><i>Hư hỏng do thiên tai, hỏa hoạn</i></strong> hay chập/cháy do nguồn điện khách hàng.</li>
        <li>- <strong><i>Hư hỏng được xác định do lỗi của người sử dụng</i></strong> (thấm nước, va chạm, côn trùng xâm hại, dùng viết mực nước ghi lên thiết bị (đối với mặt hàng Ram), sử dụng sai nguyên tắc…).</li>
        <li>- Người sử dụng <strong><i>tự ý sửa chữa, thay thế phụ tùng </i></strong> thiết bị hoặc có sự can thiệp từ một bên thứ ba</li>
    </ul>
    <p class="recieve-title"><span><strong> III. Hình thức bảo hành</strong></span></p>
    <ul class="list-unstyled recieve__guide pl+">
        <li>- Chúng tôi cam kết <strong class="text--color">1 đổi 1</strong> trong suốt thời gian bảo hành.</li>
        <li>- Thời gian DidongExpress giữ máy bảo hành giúp Khách, đổi mới với nhà sản xuất <strong class="text--color">không quá 15 ngày</strong> tính từ ngày DidongExpress nhận được sản phẩm.</li>
        <li>- Trong trường hợp đối với các model của sản phẩm đã ngưng sản xuất chúng tôi sẽ thay thế bằng các sản phẩm có tính năng và giá trị tương đương.</li>
    </ul>
    <table border="1">
       <thead>
           <tr>
               <th>NHÓM SẢN PHẦM</th>
               <th>CHÍNH SÁCH BẢO HÀNH</th>
           </tr>
           
       </thead>
        <tbody>
            <tr>
                <td>   
                     <span>Pin sạc dự phòng,Pin điện thoại,Thẻ nhớ, USB</span><br />
                     <span>Adapter-sạc,Tai nghe, Chuột,Loa vi tính,Ổ cấm,Cáp HDMI </span> 
                </td>
                <td>
                    Bảo hành 1 năm
                    1 đổi 1
                </td>
            </tr>
            <tr>
                <td>Miếng dán trước-sau</td>
                <td>Không bảo hành</td>
            </tr>
            <tr>
                <td>Ốp lưng-bao da</td>
                <td>Không bảo hành</td>
            </tr>
            <tr>
                <td>Phụ kiện chính hãng APPLE</td>
                <td>Không bảo hành</td>
            </tr>
            <tr>
                <td>Phụ kiện đồ chơi (gậy chụp hình,giá điện thoại)</td>
                <td>Không bảo hành</td>
            </tr>
        </tbody>
    </table>
</div>
