<div class="content__security">
    <p class="title__security"><strong>Chính sách bảo mật thông tin khách hàng</strong></p>
    <ul class="list-unstyled pl++">
        <li>
            <p>
                Cảm ơn bạn đã truy cập vào trang web didongexpress.vn được vận hành bởi Công ty Cổ phần Đầu tư và Thương mại số VietEcom. Chúng tôi tôn trọng và cam kết sẽ bảo mật những
                thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của
                người truy cập.
            </p>
        </li>
        <li>
            <p>
                Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, chính sách bảo mật sẽ giải thích quyền lựa chọn của bạn về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình.
            </p>
        </li>
        <li>
            <p>
                Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho bạn là vấn đề rất quan trọng với chúng tôi. Vì vậy, chúng tôi sẽ dùng tên và các thông tin khác liên quan đến bạn tuân thủ theo nội dung của chính sách bảo mật. Chúng tôi chỉ thu thập những thông tin cần thiết liên quan đến giao dịch mua bán.
            </p>
        </li>
        <li>
            <p>
                Chúng tôi sẽ giữ thông tin của khách hàng trong thời gian luật pháp quy định hoặc cho mục đích nào đó. Bạn có thể truy cập vào web và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Lúc đó, bạn đang ẩn danh và chúng tôi không thể biết bạn là ai nếu bạn không đăng nhập vào tài khoản của mình.
            </p>
        </li>
    </ul>
    <p class="title__security"><span><strong>1. Thu thập thông tin cá nhân </strong></span></p>
    <ul class="list-unstyled pl++">
        <li> <p>Chúng tôi sẽ thu thập nhiều thông tin khác nhau của bạn khi bạn muốn đặt hàng trên trang web.</p></li>
        <li> <p>Chúng tôi thu thập, lưu trữ và xử lý thông tin của bạn cho quá trình mua hàng, cho những thông báo sau này và để cung cấp dịch vụ. Chúng tôi không giới hạn thông tin cá nhân: danh hiệu, tên, giới tính, ngày sinh, email, địa chỉ, địa chỉ giao hàng, số điện thoại, fax, chi tiết thanh toán, chi tiết thanh toán bằng thẻ hoặc chi tiết tài khoản ngân hàng.</p></li>
        <li><p> Chúng tôi sẽ dùng thông tin bạn đã cung cấp để xử lý đơn đặt hàng, cung cấp các dịch vụ và thông tin yêu cầu thông qua trang web và theo yêu cầu của bạn. Chúng tôi có thể chuyển tên và địa chỉ cho bên thứ ba để họ giao hàng cho bạn (ví dụ cho bên chuyển phát nhanh hoặc nhà cung cấp).</p></li>
        <li> <p>Các khoản thanh toán trực tuyến sẽ được xử lý bởi các đại lý mạng lưới quốc tế của chúng tôi. Bạn chỉ đưa cho chúng tôi hoặc đại lý hoặc trang web những thông tin chính xác, không gây nhầm lẫn và phải thông báo cho chúng tôi nếu có thay đổi.</p></li>
        <li><p>Chi tiết đơn đặt hàng của bạn được chúng tôi lưu giữ nhưng vì lý do bảo mật nên chúng tôi không công khai trực tiếp được. Tuy nhiên, bạn có thể tiếp cận thông tin bằng cách đăng nhập tài khoản trên trang web. Tại đây, bạn sẽ thấy chi tiết đơn đặt hàng của mình, những sản phẩm đã nhận và những sản phẩm đã gửi và chi tiết email, ngân hàng và bản tin mà bạn đặt theo dõi dài hạn. Bạn cam kết bảo mật dữ liệu cá nhân và không được phép tiết lộ cho bên thứ ba. Chúng tôi không chịu bất kỳ trách nhiệm nào cho việc dùng sai mật khẩu nếu đây không phải lỗi của chúng tôi.</p></li>
    </ul>
    <p class="title__security"><strong>2. Đối tác thứ ba và liên kết</strong></p>
    <ul class="list-unstyled pl++">
        <li><p>Chúng tôi có thể chuyển thông tin của bạn cho các công ty khác trong nhóm. Chúng tôi có thể chuyển thông tin của bạn cho các đại lý và nhà thầu phụ trong khuôn khổ quy định của chính sách bảo mật. Ví dụ: Chúng tôi sẽ nhờ bên thứ ba giao hàng, nhận tiền thanh toán, phân tích dữ liệu, tiếp thị và hỗ trợ dịch vụ khách hàng. Chúng tôi có thể trao đổi thông tin với bên thứ ba với mục đích chống gian lận và giảm rủi ro tín dụng. Trong khuôn khổ chính sách bảo mật, chúng tôi không bán hay tiết lộ dữ liệu cá nhân của bạn cho bên thứ ba mà không được đồng ý trước trừ khi điều này là cần thiết cho các điều khoản trong chính sách bảo mật hoặc chúng tôi được yêu cầu phải làm như vậy theo quy định của pháp luật. </p></li>
        <li><p> DidongExpress và các nhà cung cấp bên thứ ba, bao gồm Google, có thể sử dụng cookies của Google Analytics hoặc cookies của bên thứ ba (như DoubleClick) để thu thập thông tin, tối ưu hóa và phục vụ cho mục đích quảng cáo dựa trên lần truy cập trang web của người dùng trong quá khứ.</p></li>
    </ul>
    <p class="title__security"><span><strong>3. Sử dụng Cookie</strong></span></p>
    <ul class="list-unstyled pl++">
        <li>
            <p>
                Cookie là tập tin văn bản nhỏ có thể nhận dạng tên truy cập duy nhất từ máy tính của bạn đến máy chủ của chúng tôi khi bạn truy cập vào các trang nhất định trên trang web và sẽ được lưu bởi trình duyệt internet lên ổ cứng máy tính của bạn. Cookie được dùng để nhận dạng địa chỉ IP, lưu lại thời gian. Chúng tôi dùng cookie để tiện cho bạn vào trang web (ví dụ: ghi nhớ tên truy cập khi bạn muốn vào thay đổi lại giỏ mua hàng mà không cần phải nhập lại địa chỉ email của mình) và không đòi hỏi bất kỳ thông tin nào về bạn (ví dụ: mục tiêu quảng cáo). Trình duyệt của bạn có thể được thiết lập không sử dụng cookie nhưng điều này sẽ hạn chế quyền sử dụng của bạn trên trang web. Xin vui lòng chấp nhận cam kết của chúng tôi là cookie không bao gồm bất cứ chi tiết cá nhân riêng tư nào và an toàn với virus.
            </p>
        </li>
        <li>
            <p>
                Trình duyệt này sử dụng Google Analytics, một dịch vụ phân tích trang web được cung cấp bởi Google, Inc. (“Google”). Google Analytics dùng cookie, là những tập tin văn bản đặt trong máy tính để giúp website phân tích người dùng vào trang web như thế nào. Thông tin được tổng hợp từ cookie sẽ được truyền tới và lưu bởi Google trên các máy chủ tại Hoa Kỳ. Google sẽ dùng thông tin này để đánh giá cách dùng trang web của bạn, lập báo cáo về các hoạt động trên trang web cho các nhà khai thác trang web và cung cấp các dịch vụ khác liên quan đến các hoạt động internet và cách dùng internet. Google cũng có thể chuyển giao thông tin này cho bên thứ ba theo yêu cầu của pháp luật hoặc các bên thứ ba xử lý thông tin trên danh nghĩa của Google. Google sẽ không kết hợp địa chỉ IP của bạn với bất kỳ dữ liệu nào khác mà Google đang giữ. Bạn có thể từ chối dùng cookie bằng cách chọn các thiết lập thích hợp trên trình duyệt của mình, tuy nhiên lưu ý rằng điều này sẽ ngăn bạn sử dụng triệt để chức năng của trang web. Bằng cách sử dụng trang web này, bạn đã đồng ý cho Google xử lý dữ liệu về bạn theo cách thức và các mục đích nêu trên.

            </p>
        </li>
    </ul>
    <p class="title__security"><span><strong>4. Bảo mật</strong></span></p>
    <ul class="list-unstyled pl++">
        <li>
            <p>  Chúng tôi có biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn truy cập trái phép hoặc trái pháp luật hoặc mất mát hoặc tiêu hủy hoặc thiệt hại cho thông tin của bạn. Khi thu thập dữ liệu trên trang web, chúng tôi thu thập chi tiết cá nhân của bạn trên máy chủ an toàn. Chúng tôi khuyên bạn rằng bạn không nên đưa thông tin chi tiết về việc thanh toán với bất kỳ ai bằng email, chúng tôi không chịu trách nhiệm về những mất mát bạn có thể gánh chịu trong việc trao đổi thông tin của bạn qua internet hoặc email.</p>
        </li>
        <li>
            <p>
                Bạn tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống trang web. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết.
            </p>
        </li>
        <li>
            <p>
                Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
            </p>
        </li>
        <li>
            <p>
                Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và tòa án Việt Nam có thẩm quyền xem xét.
            </p>
        </li>
    </ul>
    <p class="title__security"><span><strong>5. Quyền lợi khách hàng </strong></span></p>
    <p class="pl++">
        Bạn có quyền yêu cầu truy cập vào dữ liệu cá nhân của mình, có quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của bạn mà không mất phí. Bất cứ lúc nào bạn cũng có quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị.
    </p><br />
    <p class="title__security"><span><strong>6. Bảo vệ thông tin cá nhân khách hàng </strong></span></p>
    <ul class="list-unstyled pl+">
        <li>
           <p class="title__security"><span><strong> a. Mục đích và phạm vi thu thập</strong></span></p>
            <ul class="list-unstyled pl++">
                <li><p>Để truy cập và sử dụng một số dịch vụ tại didongexpress.vn, bạn có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. Didongexpress.vn không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo. </p> </li>
                <li> <p>Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang bạn xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến site didongexpress.vn. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào didongexpress.vn, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</p></li>
            </ul>
        </li>
        <li>
            <p class="title__security"><span><strong> a. Mục đích và phạm vi thu thập</strong></span></p>
            <ul class="list-unstyled pl++">
                <li><p>Didongexpress.vn thu thập và sử dụng thông tin cá nhân bạn với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này. </p></li>
                <li><p>Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, sms, thông tin về kỹ thuật và bảo mật…</p></li>
            </ul>
        </li>
        <li>
            <p class="title__security"><span><strong>c. Thời gian lưu trữ thông tin</strong></span></p>
            <ul class="list-unstyled pl++">
                <li><p> Dữ liệu cá nhân của Thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của didongexpress.vn</p></li>

            </ul>
        </li>
        <li>
            <p class="title__security"><span><strong> d. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</strong></span></p>  
            <ul class="list-unstyled pl++">
                <li><p>Công ty Cổ phần Đầu tư và thương mại số VietEcom.</p></li>
                <li><p>Địa chỉ đăng ký kinh doanh: phòng 608A, tầng 6, tòa nhà Indochina Plaza, số 241 Xuân Thủy, phường Dịch Vọng, quận Cầu Giấy, Hà Nội.</p></li>
                <li><p>Hotline: 1900545494</p></li>
            </ul>
        </li>
        <li>
            <ul class="list-unstyled pl++">
                <li><p>Thông tin cá nhân của thành viên trên didongexpress.vn được didongexpress.vn cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của didongexpress.vn. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</p></li>
                <li><p>Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên.</p></li>
                <li><p>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, didongexpress.vn sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.</p></li>
                <li><p>Didongexpress.vn yêu cầu các cá nhân khi đăng ký/mua hàng là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Didongexpress.vn không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác</p></li>
            </ul>
        </li>
        <li>
            <p class="title__security"><span><strong>f. Quản lý thông tin xấu</strong></span></p>
            <ul class="list-unstyled pl++">
                <li><p>Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu của mình. Thành viên có trách nhiệm thông báo kịp thời cho website TMĐT didongexpres.vn về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p></li>
                <li><p>Thành viên không được thay đổi, chỉnh sửa, gán ghép, copy, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do website TMĐT didongexpres.vn cung cấp cho một bên thứ ba nếu không được sự đồng ý của website TMĐT didongexpres.vn trong bản Quy chế này.</p></li>
                <li><p>Thành viên không được hành động gây mất uy tín của website TMĐT didongexpres.vn dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của website TMĐT didongexpres.vn</p></li>
            </ul>
        </li>
    </ul>
</div>
