<div class="guides--image">
    
    <img src="~/Content/images/guides/shopping/banner_fb_like_stt_01.jpg" class="img-responsive" />
</div>
<div class="guides--common">
    <h4><span>﻿CÁCH 1: GỌI TRỰC TIẾP</span></h4>
    <span>Gọi điện trực tiếp đến tổng đài <strong>(1900545494)</strong> từ <strong>8h30-21h (kể cả CN & ngày lễ)</strong> để mua hàng.</span>
</div>
<div class="guides--common">
    <h4><span>﻿CÁCH 2: HÃY ĐỂ CHÚNG TÔI GỌI ĐIỆN CHO BẠN</span></h4>
    <span>Vào website bấm vào số tổng đài <strong>1900545494</strong> và điền đầy đủ thông tin, DidongExpress sẽ liên hệ lại với bạn.</span>
</div>
<div class="guides--image">
    <img src="~/Content/images/guides/shopping/screenshot_15.png" class="img-responsive" />
</div>
<div class="guides--common">
    <h4><span>﻿CÁCH 3: MUA HÀNG TRÊN WEBSITE</span></h4>
    <span>Các bạn chỉ cần làm theo các bước đơn giản sau: </span>
    <h5>Bước 1: Tìm sản phẩm cần mua</h5><br />
    <p>- Vào mục "Điện thoại" sau đó lọc theo Tên, Giá, Thương Hiệu.</p>
    <p>- Hoặc tìm kiếm nhanh trên thanh công cụ tìm kiếm của DidongExpress</p>
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_9.png" class="img-responsive" />
    </div>
    <h5>Bước 2: Đặt mua sản phẩm </h5><br />
    <p><strong>- Cách 1</strong> Click vào "Mua ngay" trên giao diện chính của sản phẩm.</p>
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_14.png" class="img-responsive" />

    </div>
    <p><strong>- Cách 2:</strong> Vào xem chi tiết thông tin sản phẩm. Bấm vào "Mua ngay" hoặc biểu tượng "Giỏ hàng" nếu muốn quay lại mua thêm sản phẩm khác.</p><br />
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_3.png" class="img-responsive" />
    </div>
    <p><strong>- Cách 3:</strong> Nếu muốn mua nhiều sản phẩm, bấm "Mua ngay" từng sản phẩm rồi "Tiếp tục mua sắm"". Cuối cùng, khi muốn đặt hàng sản phẩm đã mua, click vào "Giỏ hàng" trên thanh công cụ; xác nhận sản phẩm, màu, số lượng rồi bấm vào "Thanh toán"</p>
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_18.png" class="img-responsive" />
    </div>
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_4.png" class="img-responsive" />
    </div>
    <h5>Bước 3: Thanh toán và đặt hàng</h5><br />
    <p>Khách hàng điền đủ thông tin và chọn hình thức thanh toán, sử dụng mã giảm giá nếu có. Bấm vào "Đặt hàng" để hoàn tất đơn hàng. Sau đó, Didongexpress sẽ gửi xác nhận đơn hàng qua email của bạn </p>
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_5.png" class="img-responsive" />
    </div>
    <div class="guides--image">
        <img src="~/Content/images/guides/shopping/screenshot_17.png" class="img-responsive" />
    </div>
</div>
<p>Chúc các bạn mua sắm vui vẻ!</p>


