<section class="slider-section">
    <div class="container">
        <ul class="slider bxslider list-unstyled">
            <li>
                <a href="#">
                    <img src="~/Content/images/sliders/slider_1.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/images/sliders/slider_2.jpg" />
                </a>
            </li>
        </ul>
    </div>
</section>


