
@{
    ViewBag.Title = "Về chúng tôi";
}

<section class="header-about header-page clearfix">

    <h1 class="text-uppercase"><span class="m_l">về chúng tôi</span></h1>


</section>
<div class="container">

    <div class="row about__title">


        <div class="col-md-4 col-sm-4 col-xs-12">
            <img src="~/Content/images/certificate.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 text-center">
            <div class="about-image">
                <img src="~/Content/images/dsc_7541-chinh_sang.jpg" class="img-responsive" />
            </div>
            <h4 class="about-title">
                <span><strong>Thông tin về công ty</strong></span><br />
            </h4>
            <p class="content-about"><strong><span class="tilte">Công ty Cổ Phần Đầu tư và thương mại số VietEcom</span></strong></p>
            <div>
                <p class="content-about">Địa chỉ đăng ký kinh doanh: Phòng 608A, Tầng 6, Tòa nhà Indochina Plaza, số 241 Xuân Thủy, Phường Dịch Vọng Hậu, quận Cầu Giấy, Hà Nội.</p>
                <p class="content-about">Giấy chứng nhận Đăng ký Kinh doanh số 0107505589 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 13/07/2016</p>
            </div>
            <div class="ab__title">
                <span class="content__title"><strong>DidongExpress</strong> -một thương hiệu thương mại điện tử của Công ty cổ phần đầu tư và thương mại số VietEcom – đã chính thức ra mắt cộng đồng vào ngày 24/10/2016.</span>
            </div><br />
            <h4 class="about-title">
                <span><strong>Tầm nhìn - Công nghệ,</strong> <strong>tài chính và phân phối</strong></span>
            </h4>
            <p class="content__about">Với định hướng trở thành 1 kênh bán lẻ trực tuyến các dòng sản phẩm kỹ thuật số như Điện thoại di động, Máy tính bảng, các phụ kiện công nghệ cao, DidongExpress đã nhận được nhiều sự quan tâm từ các công ty lớn trên thị trường. Đầu tiên phải kể đến Petrosetco - công ty cổ phần dịch vụ phân phối dầu khí, một đơn vị thành viên của Tổng công ty Petrosetco hoạt động trong lĩnh vực phân phối thiết bị điện tử viễn thông như smartphone, máy tính bảng… – đã đầu tư vào Công ty VietEcom. Amigo, nhà cung cấp các giải pháp CNTT và tài chính cho ngân hàng, đồng thời cũng là một cổ đông lớn của DidongExpress. Ngoài ra, còn có Finati, đẩy mạnh lợi thế cho VietEcom thông qua dịch vụ chuyển phát nhanh chóng và hệ thống thanh toán trực tuyến đa dạng.</p>
            <p class="content__about">
                Với nền tảng công nghệ, tài chính và phân phối vững chắc, DidongExpress cam kết cung cấp các sản phẩm kỹ thuật số giá cả hợp lý, dịch vụ chu đáo nhằm tối đa hóa sự tiện lợi và mang lại một trải nghiệm
                mua sắm mới cho khách hàng.
            </p><br />
            <div class="about-image">
                <img src="~/Content/images/cac_co_dong3.jpg" class="img-responsive" /><br />
            </div>
            <h4 class="about-title"><span><strong>Sứ mệnh - </strong><strong>Đặt khách hàng làm trung tâm</strong></span></h4>
            <p class="content__about">DidongExpress định vị là một doanh nghiệp vì khách hàng, đặt khách hàng làm trung tâm và ưu tiên giải quyết vấn đề: Làm thế nào để đem lại lợi ích lớn nhất cho khách hàng? Làm thế nào để với một ngân sách nhất định, người dùng không chỉ nhận được sản phẩm tốt mà còn an tâm với các dịch vụ của công ty?</p>
            <p class="content__about">Để giải quyết các vấn đề trên, chúng tôi đã tận dụng lợi thế của các công ty thành viên (Petrosetco, Amigo, Finati), tiết kiệm tối đa các chi phí mặt bằng, nhân sự; như vậy, khách hàng có thể nhận được các sản phẩm nhanh hơn với giá rẻ hơn. Bên cạnh đó, DidongExpress còn cung cấp cho người dùng những dịch vụ hậu mãi chu đáo như: Đổi trả trong vòng 7 ngày, Giao hàng nhanh chỉ trong 2-6h, nhiều hình thức đặt hàng và thanh toán thuận tiện, dịch vụ trả góp với lãi suất ưu đãi. Ngoài ra, tại các điểm giao dịch tại Hà Nội và TP.HCM, DidongExpress cũng chú trọng đầu tư vào mặt bằng, thiết kế, nhấn mạnh vào trải nghiệm mua sắm nhằm đem lại sự hài lòng cho khách hàng của mình. Khách hàng có thể giao nhận, đổi trả, bảo hành, đồng thời, trải nghiệm các dòng sản phẩm mới ngay tại điểm giao dịch.</p>
            <p class="content__about">Đến với DidongExpress, khách hàng sẽ được tự tay chọn lựa sản phẩm mình yêu thích chỉ bằng một “click”, từ smartphone, máy tính bảng tới các phụ kiện công nghệ cao. 100% các sản phẩm là hàng chính hãng, thuộc các thương hiệu uy tín như Samsung, Apple, Oppo, Xiaomi, LG, Sony. Các sản phẩm công nghệ mới ra cũng sẽ được cập nhật liên tục và kịp thời trên website của DidongExpress. Ngoài ra, dưới sự tư vấn của đội ngũ nhân viên trẻ, năng động, được đào tạo chuyên nghiệp, chắc chắn khách hàng sẽ lựa chọn được sản phẩm ưng ý về mặt giá cả và tính năng.</p>
            <p class="content__about">Đặc biệt, chỉ cần đặt hàng trực tuyến trên website, khách hàng cũng sẽ nhận được nhiều ưu đãi và khuyến mại hấp dẫn hơn hẳn so với các cửa hàng truyền thống.</p>
            <p class="content__about">Với mục tiêu tạo ra những trải nghiệm mua sắm trực tuyến ưu việt hơn, DidongExpress sẽ luôn luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ để mang đến cho khách hàng những sản phẩm công nghệ một cách nhanh nhất với giá hợp lý nhất.</p><br />
            <h4 class="about-title"><span><strong>Thông tin chi tiết liên hệ:</strong></span></h4>
            <ul class="list-unstyled about-bottom">
                <li><span class="title-bottom">Website:</span> <a href="www.didongexpress.vn">www.didongexpress.vn</a></li>
                <li> <span class="title-bottom">Fanpage: </span><a href="https://www.facebook.com/didongexpress.vn">https://www.facebook.com/didongexpress.vn</a></li>
                <li><span class="title-bottom">Hotline :</span> <span class="number-bottom">1900545494﻿</span></li>
            </ul>
        </div>


    </div>

</div>
<hr class="line-border clearfix m-t-5 m-b-25">

