
@{
    ViewBag.Title = "SecurityGuide";
}

<section class="clearfix">
    <div class="container guides--header">
        <h4>CHÍNH SÁCH BẢO MẬT</h4>
    </div>
    <div class="container">
        <div class="row guides--left">
            <div class="col-md-12">
                @Html.Partial("_SecurityGuide")
            </div>     
        </div>
    </div>
    <hr />
</section>

