.cart-container {
    border-bottom: 2px solid #ddd;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.table-cart {
    td {
        vertical-align: middle !important;
    }

    th {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
    }

    tbody tr:last-child td {
        border-bottom: 1px solid #ddd;
    }
}

.cart-p-name {
    a {
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        display: block;
        color: $dark;
        padding: 10px;
        text-decoration: none !important;
    }
}

.cart-p-image {
    display: block;

    img {
        margin: auto;
    }
}

.cart-info {
    > h4 {
        margin: 0;
        font-weight: 400;
        padding-bottom: 2px;
    }
}

.cart__qty {
    .qty-input {
        max-width: 50px;
        text-align: center;
        background: #ddd;
        border: none;
        padding: 5px;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .qty-change { /* qty-change */
        display: inline-block;
        color: $red;
        padding: 0 16px;
    }
}


.cart__price {
    .tc-money {
        font-weight: 600;
        font-size: 1.4rem;
    }
}

.cart-p-remove {
    color: $dark;
}

.checkout-button {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none !important;
    color: $red;
    border-radius: 50px;

    &:hover {
        color: #fff;
        background: $red;
    }
}

a.cart-link {
    position: relative;

    .cart-count {
        $size: 20px;

        border: 2px solid $red;
        width: $size;
        height: $size;
        line-height: $size - 4px; // 20 - 2 (border) x2
        display: inline-block;
        padding: 0;
        position: absolute;
        z-index: 2;
        top: -4px;
        right: 24px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        display: none; // only show when has item in cart
    }
}
