.checkout-container {
    background: #fff;
    margin-bottom: 2rem;
    border-bottom: 3px solid #ddd;
    border-radius: 4px;

    .form-group {
        border: 1px dashed $red;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 0 8px;

        .form-control {
            border: none;
            outline: none !important;
            box-shadow: none !important;
        }

        .fa {
            color: $red;
            font-size: .65rem;
        }
    }
}

.checkout-header {
    padding: 1rem 0;

    .text-center a {
        display: inline-block;
    }


    .pull-left {
        margin-top: 27px;
        color: #111;
    }
}

.co-title {
    text-transform: uppercase;
}

.co-login {
    border-bottom: 1px solid $red;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    a, span {
        color: $red;
        text-decoration: none !important;
    }
}

.collection {
    border: 1px solid #ddd;
    margin-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .collection-header {
        background: $red;
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 4rem;
        padding: 1rem 0;
        font-weight: 600;
    }

    .collection-item {
        border-left: none;
        border-right: none;
        padding: 10px;
        margin: 0 10px;

        + .collection-item {
            border-top: 1px solid #ddd;
        }

        h4 {
            margin: 0;
            font-size: 1rem;
        }

        p {
            margin: 0;
        }
    }

    .collection-footer {
        background: #ddd;
        margin: 0;
        padding: 1rem;
        font-weight: 600;
    }
}

.order-button {
    border: none;
    padding: .8rem;
    text-align: center;
    width: 100%;
    background: $red;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5rem;
}
