.footer {
    .footer-1 {
        background: $footer-1;
    }

    .footer-2 {
        background: $footer-2;
    }

    .footer-3 {
        background: $footer-3;
    }
}

.map {
    position: relative;
    background: $dark;
    border: 1px solid transparent;

    .map-hack {
        margin-top: 100%; /* this is a trick to make square box */
    }

    .map-content {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #111;
    }
}


.contact-phone {
    margin: 15px 0;
    color: $dark;
    padding-left: 70px;
    background: url(/Content/images/support_footer.png) no-repeat left center;
    background-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    > h4 {
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0;
    }
}

.footer-store {
    margin: 15px 0;
    color: $dark;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 2px 0;
        }
    }

    b {
        color: $red;
        border-left: 1px solid $dark;
        padding-left: 10px;
        margin-left: 5px;
    }

    a {
        color: $dark;
    }
}

.footer-social {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: $dark;

        li {
            display: inline-block;
            text-align: center;
            padding: 20px;
        }
    }

    span {
        display: block;
        padding: 4px;
        font-size: .95rem;
        font-weight: 300;
    }

    .fa {
        color: #5a5858;
    }
}

.footer-guide {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding: 5px 0;
    }

    .fa {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: $dark;
        border: 1px solid $dark;
    }

    a {
        margin-left: 8px;
        color: $dark;
    }
}

.bct img {
    max-width: 70%;
    margin-top: 15px;
}

.row-1 > div {
    padding-top: 1rem;
}

.footer-2 {
    padding: 1rem;

    a {
        color: $dark;
        font-weight: 300;
    }
}

.footer-3 {
    font-weight: 300;
    font-size: .9rem;
}
